### gmail setup 
set folder=imaps://imap.googlemail.com:993
mailboxes "=INBOX"
mailboxes "=[Gmail]/Entwürfe"
mailboxes "=[Gmail]/Gesendet"
mailboxes "=[Gmail]/Alle Nachrichten"
set spoolfile=+INBOX 
set postponed =+[Gmail]/Entwürfe 
set ssl_force_tls = yes 
set realname="Christoph Martel"
set signature=~/.mutt/gmail-signature
set from=christoph.martel@gmail.com
set hostname=gmail.com

